{
  "extends": "airbnb",
  "plugins": ["react"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "linebreak-style": "off",
    // Enforce tab width of 2 spaces.
    "indent": ["error", 2],
    // Enforce line length to 120 characters.
    "max-len": ["error", { "code": 120 }],
    "spaced-comment": "off",
    "react/jsx-filename-extension": "off",
    "no-undef": "off",
    // Force all variable names to use camelCase style.
    "camelcase": "error",
    "comma-dangle": "off",
    "prefer-template": "off",
    "react/destructuring-assignment": "off",
    "react/self-closing-comp": "off",
    "react/jsx-one-expression-per-line": "off",
    "prefer-arrow-callback": "off",
    "array-callback-return": "off",
    "react/prefer-stateless-function": "off",
    "object-curly-newline": "off",
    "react/prop-types": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "no-return-assign": "off",
    "react/jsx-closing-bracket-location": "off",
    "consistent-return": "off",
    "class-methods-use-this": "off",
    "no-unused-expressions": "off",
    // Warn when variables are defined but never used.
    "no-unused-vars": "error"
  }
}
